@font-face {
  font-family: "Museo Sans 300 Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans 700 Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Museo Sans 300 Light", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1190px;
  padding: 0 10px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 760px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

/** Navbar **/
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__info {
  display: flex;
  align-items: center;
}
.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.navbar__address {
  margin-bottom: 10px;
}
.navbar__phone {
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  font-family: "Museo Sans 700 Bold", sans-serif;
}
.navbar__button {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}
/** HERO **/
.hero {
  padding: 50px 0;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 45%;
  padding-right: 130px;
}
.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: "Museo Sans 700 Bold", sans-serif;
}
.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: "Museo Sans 700 Bold", sans-serif;
}

.hero-list {
  margin: 0;
  padding: 0;
}
.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.hero-list__text {
  font-size: 15px;
  font-weight: 400;
  max-width: 300px;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 25px;
  }
}