@import 'fonts'
@import '_colors'
@import '_interface'

/** Navbar **/

.navbar
	&-block
		display: flex
		justify-content: space-between
		align-items: center

	&__logo 

	&__info 
		display: flex
		align-items: center
	&__contacts
		display: flex
		flex-direction: column
		text-align: right
	&__address
		margin-bottom: 10px
	&__phone
		text-decoration: none
		font-size: 20px
		color: $text-color
		+bold
	&__button
		margin-left: 30px

@media screen and ( max-width:768px )
	.navbar
		&__contacts
			display: none
		&__button
			font-size: 12px
			padding: 15px 26px
		&__logo
			width: 90px

/** HERO **/

.hero
	background-color: $secondary
	padding: 50px 0
.hero-block 
	display: flex
.hero-text 
	flex-basis: 50%
	padding-right: 100px
	&__title
		font-size: 41px
		line-height: 55px
		margin-bottom: 40px
		+bold
	&__subtitle
		display: inline-block
		font-size: 20px
		margin-bottom: 50px
		+bold

.hero-list 
	margin: 0
	padding: 0
	&__item 
		display: flex
		align-items: center
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0

	&__image 
		width: 40px
		height: 40px
		border: 2px solid $main-color
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center
		margin-right: 30px

	&__text
		font-size: 15px
		font-weight: 400
		max-width: 300px
		line-height: 1.5


@media screen and ( max-width:1200px  )
	.hero
		&-block
			flex-direction: column
		&-list
			margin-bottom: 44px
		&-text
			padding-right: 10px


@media screen and ( max-width:768px )
	.hero
		&-text
			&__title
				font-size: 24px
				line-height: 1.4
				margin-bottom: 15px
			&__subtitle
				font-size: 16px
				margin-bottom: 28px
		&-image
			margin-right: -30px	
		&-list
			&__text
				font-size: 14px
			&__item
				margin-bottom: 20px
			&__image
				margin-right: 25px
/** Секция Offer **/
@import 'offer'